:root {
    --black: #000000;
    --dark: #202020bb;
    --grey: #828282;
    --white: #fff;
}

*,
*::after,
*::before,
html,
body {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: var(--grey);
    display: flex;
    gap: 4vmin;
    font: normal 2vmin/1 sans-serif;
    height: 100vh;
    justify-content: center;
}

img {
    border-radius: 8px;
    box-shadow: 0 4vmin 16vmin -4vmin var(--black);
    max-width: 200px;
    position: relative;
    width: 100%;
}


/* #pikui {
    background: var(--dark);
    bottom: 0;
    display: grid;
    height: 100vh;
    place-items: center;
    position: fixed;
    transition: .2s linear;
    width: 100vw;
    z-index: 100000;
}

#pikui s {
    color: var(--black);
    cursor: pointer;
    font: normal 4vmin/1 sans-serif;
    position: absolute;
    right: 4vw;
    text-decoration: none;
    text-shadow: 0 1vmin 2vmin var(--grey);
    top: 4vh;
}

#pikui s::after {
    content: "\2715";
}

#pikui img {
    bottom: 1vmin;
    max-width: 80vmin;
    opacity: 0;
    transform: scale(.75);
    transition: .2s linear;
}

#pikui span {
    bottom: 2vh;
    position: absolute;
    text-align: center;
} */